.wrapper-Allform {
    background-color:#77BFE2 ;
    display: flex;
    height: 500px;
    width: 400px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-evenly;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

.wrapper-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    row-gap: 20px;
}

#changePass {
    color: #E67235;

}

[name="passwordOld"] {
    border-radius: 5px;
    padding: 3px;
    border: 0;

}

[name="passwordNewConf"] {
    border-radius: 5px;
    padding: 3px;
    border: 0;

}

[name="passwordNew"] {
    border-radius: 5px;
    padding: 3px;
    border: 0;

}

[name="username"] {
    border-radius: 5px;
    padding: 3px;
    border: 0;

}

.main-container {
    background-color: #36A1D4;
    background-image: url("/assets/img/background/bg1.png");
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* flex-direction: column; */
}

.button {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: #FCE786;
    color: #E67235;
    border: 0;
}

.img-school {
    background-image: url(../assets/img/output-onlinepngtools\ \(1\).png);
    height: 500px;
    width: 500px;
}

.warn{
    color: red;
}

.ket{
    color: #E67235;
    margin: 0;
}

.hidden{
    display:none;
}