.container-main {
  display: grid;
  grid-template-columns: 3fr 7fr;
  background-color: #30b9f8;
  margin: 10px;
  min-height: 68vh;
  border-radius: 25px;
  margin-left: 100px;
  box-shadow: 5px 10px rgb(66, 62, 62);
}
.sidebar {
  display: grid;
  margin-top: 15px;
  margin-left: -100px;
}
.sidebar a {
  background-image: url("/assets/img/side_link.png");
  background-repeat: no-repeat;
  width: 80mm;
  height: 15mm;
  display: block;
  padding-left: 70px;
  padding-top: 15px;
  text-decoration: none;
  color: black;
}
a.active {
  background-image: url("/assets/img/side_link_active.png");
}
.sidebar a:hover {
  background-image: url("/assets/img/side_link_hover.png");
}
.sidebar a i {
  color: black;
  vertical-align: middle;
  margin-right: 10px;
}
