<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="/css/changepassword.css">
    <script src="/js/changePassword.js" defer></script>
</head>

<body>
    <div class="main-container">
        <div class="img-school"></div>
        <div class="wrapper-Allform">
            <form class="form">
                <div class="wrapper-form">
                    <span class="warn hidden isTidakAda">username atau password tidak cocok</span>
                    <span class="warn hidden isSama">password baru dan konfirmasi password tidak sesuai</span>
                    <span class="warn hidden isPendek">panjang password kurang dari 8 character</span>
                    <span class="warn hidden isPanjang">panjang password lebih dari 12 character</span>
                    <input type="text" name="username" autocomplete="off" placeholder="username">
                    <input type="password" name="passwordOld" autocomplete="off" placeholder="old password">
                    <input type="password" name="passwordNew" autocomplete="off" placeholder="new password">
                    <input type="password" name="passwordNewConf" autocomplete="off" placeholder="confirm new password">
                    <span class="ket">Minimum 8 character</span>
                    <span class="ket">Maximum 12 character</span>
                    <button class="button">Submit</button>
                </div>
        </div>
    </div>
    </form>
</body>

</html>