<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/keloladataguru.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-6.1.1-web/css/all.css">
    <script src="/js/kelolaDataGuru.js"defer></script>
</head>

<body>
    <div class="second-container">
        <div class="menu-wrapper">
            <span class="container-menu">
                <i class="fa-solid fa-file-circle-plus"></i>
                <a href="/add_perioda" class="menu">Tambah Perioda</a>
            </span>
            <span class="container-menu">
                <i class="fa-solid fa-calendar-days"></i>
                <a href="/daftar_perioda" class="menu">Daftar Perioda</a>
            </span>
            <span class="container-menu">
                <i class="fa-solid fa-database"></i>
                <a href="/kelola_data" class="menu">Kelola Data</a>
            </span>
        </div>
        <div class="judul">Guru</div>
        <div class="box-wrapper">

            <div class="box">
                <span class="ket">Data guru dan Ruangan</span>
                <a href="#" class="template">Download Template</a>
                <form action="/upload-guru" method="post" class="form1" enctype="multipart/form-data">
                    <input type="file" name="file_guru" >
                    <button class="but">Submit</button>
                </form>
            </div>
            <div class="box">
                <span class="ket">Tampilkan Daftar Guru</span>
                <a href="/daftar-guru" class="but">Tampilkan</a>
            </div>
            <div class="box">
                <span class="ket">Reset Password</span>
                <form action="/resetGuru" method="post" class="form1">
                    <input type="text" placeholder="Username" name="username" class="u-nameGuru">
                    <button class="but">Reset</button>
                </form>
            </div>
        </div>
        <a href="/logout" id="btn-logout"><i
                class="fa-solid fa-arrow-right-from-bracket fa-3x fa-flip-horizontal"></i></a>
    </div>
</body>

</html>